
body {
  /* margin: 10%; */
  background: rgb(2,0,36);
  background: rgb(0,212,255);
  background: linear-gradient(90deg, rgba(0,212,255,1) 28%, rgba(2,0,36,1) 100%, rgba(168,168,196,1) 100%);  
}
.main {
  height: 90vh;
  position: absolute;
  top: 85px;
  width: 100%;


}

.text-centre {
  text-align: center;
}
.text-size-medium {
 font-size: large; 
}
nav {
  width: 100%;
  background: rgb(39, 37, 37);
  position: fixed;
  top: 0;
  left: 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

nav ul li {
  list-style: none;
  color: white;
  cursor: pointer;
  color: white;
}
nav ul li a {
  color: white;
}

.introduction {
  display: flex;
  flex-direction: row;
}

.profile-image {
  height: 300px;
  width: 40%;
  position: absolute;
  right: 3%;
  /* margin-right: 3%; */
}
.intro-texts {
  width: 50%;
  margin-left: 3%;
}
.phone-link {
  height: 5vh;
  width: 200px;
  border: 1px solid black;
  border-radius: 5%;
  box-shadow: 3px 3px 5px 5px rgba(39, 37, 37, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.phone-link a {
  margin-left: 5%;
  justify-self: flex-end;
  font-size: 1.5rem;
}

footer {
  background: black;
  width: 99%;
  height: 10vh;
  display: flex;
  position: fixed;
  top: 90vh;
  left: 0;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.footer-link {
  margin-right: 3rem;
}

a {
  color: black;
  text-decoration: none;
}

.margin3 {
  margin: 2%;
  padding: 3%;
  width: 98%;
}
.project-img {
  width: 100px;
  height: 100px;
  /* margin: 2% 40%; */
  border: solid black 2px;
  border-radius: 35%;
}
.proj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: cornflowerblue;
  margin: 3%;
  font-size: 1.5rem;
  min-height: 500px;
  padding: 20px;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}
.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80%;
  width: 40%;
  border-right: 2px solid black;
}
.icon {
  background: cornflowerblue;
  font-size: 3rem;
  cursor: pointer;
  border-radius: 15px;
}
.icon:hover {
  font-size: 3.25rem;
}
.contact-detail {
  height: 100vh;
  background: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgb(39, 37, 37);
  font-size: xx-large;
  overflow-y: hidden;
}
table, tr, th, td {
  border: 2px solid blue;
  color: wheat;
  background: rgba(2,0,36,1);

}
table {
  width: 80%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}


